.git*
.nvmrc
.prettierrc
*.md
*.csv

node_modules
docker
# client src code is not needed since it is bundled and copied into the image
src/client

test_datasets
**/__mocks__
**/__tests__
**/test_setup.ts
**/*jest*
coverage

figma

*.env*
.flaskenv*
!.env.project
!.env.vault